.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

.DS_Store
/tmp
/app
/ref/goat
data.json
/src/js/node_modules
/src/js/*.json